<form [formGroup]="myForm" >      
  <!--addresses-->
  <div formArrayName="fields">
    <div *ngFor="let field of myForm.controls.fields.controls; let i=index" [formGroupName]="i">
      <a (click)="removeField(i)" href="#" >remove -</a>
      <div >
        <input type="text" formControlName="street">            
        <div [formGroup]="field.controls.randoms">
            randoms:{{field.controls.randoms.value | json}}
              <input type="text" formControlName="street1">    
              <div formArrayName="browns">
                  <div *ngFor="let post of browns.controls; let r=index" [formGroupName]="r">
                      <input type="text" formControlName="street2">                                                
                  </div>        
              </div>
          
          </div>
      </div>
    </div>
  </div>

  <a (click)="addField()" href="#" >Add +</a>
  
  

  <div class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{myForm.value | json}}</pre>
  </div>
</form>

